version: "3.9"
services:
  event-service:
    build: ./event-service
    ports:
      - "3001:3001"

  student-service:
    build: ./student-service
    ports:
      - "3002:3002"
  
  registration-service:
    build: ./registration-service
    ports:
      - "3003:3003"
